.m-c-outer {
    padding: 4rem;
    margin-top: -3rem;
    display: flex;
    flex-direction: column;
}

.s-1 {
    display: flex;
    justify-content: center;
    border: 1px solid gray;
    text-align: center;
    align-items: center;
}

.s-1 span {
    font-weight: 500;
}

.d-1 {
    width: 50%;
}

.div-1 {
    display: flex;
    justify-content: space-around;
}

.div-2 {
    display: flex;
    justify-content: space-around;
}


.div-1 .span-2 {
    padding-right: 4rem;
}

.span-1, .span-2 {
    border-right: 1px solid #ccc;
    padding: 1rem;
}

.d-2 {
    width: 50%;
}

.div-2 .span-2 {
    border-right: 0px;
}

.s-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #500A28;
    color: white;
    padding: 1rem;
}



.s-3 {
    display: flex;
    flex-direction: column;
}

.s-3-d1 {
    display: flex;
    width: 100%;
}

.s3dd1 {
    flex-basis: 70%;
    padding: 1rem;
    text-align: center;
    background-color: #E2E2E2;
    border-right: 1px solid #ccc;
}

.s3dd2 {
    flex: 1;
    padding: 1rem;
    text-align: center;
    background-color: #E2E2E2;
}

.s3dd2-1 {
    background-color: whitesmoke;
    border: none;
    border: 1px solid #ccc;
    width: 100%;
}
.s3dd2-2 {
    background-color: whitesmoke;
    border: none;
    border: 1px solid #ccc;
}

.s3desc-input {
    width: 209%;
}

.button-add-row {
    width: 10%;
    padding: 0.7rem 1rem;
    color: #FA551E;
    background-color: #fff;
    border-radius: 5px;
    align-self: flex-end;
    border: 1px solid #FA551E;
    margin: 1rem 0rem;
    cursor: pointer;
}

.d-1vi {
    padding: 1rem;
    background-color: whitesmoke;
}

.span-vi {
    padding: 1rem;
    border-right: 1px solid #ccc;
    padding-right: 40rem;
    text-align: start;
}

.mnth {
    border-right: 1px solid #ccc;
    font-size: 0.7rem;
    white-space: nowrap;
    font-weight: 500;
}

.inp-desc-2 {
    width: 125px;
}

.last-border {
    border: 1px dashed #ccc;
}

.btn-calc {
    width: 10%;
    padding: 0.8rem 1.1rem;
    border: none;
    background-color: #FA551E;
    color: white;
    font-weight: 500;
    font-size: 1.1rem;
    border-radius: 5px;
    margin-top: 1rem;
    align-self: center;
}